<!-- En el archivo formulario.html dentro de la carpeta templates -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <script>
        // Función para limpiar el formulario después de enviarlo con éxito
        function limpiarFormulario() {
            document.getElementById("formulario").reset();
        }
    </script>
</head>
<body>
    <h1>Formulario</h1>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('procesar_formulario') }}">
        {{ formulario.hidden_tag() }}
        <label for="Email">Correo Electrónico:</label>
        {{ formulario.email(size=20) }}
        <br>
        <label for="Nombre">Nombre:</label>
        {{ formulario.nombre(size=20) }}
        <br>
        <label for="Apellidos">Apellidos:</label>
        {{ formulario.apellidos(size=20) }}
        <br>
        <label for="Contraseña">Contraseña:</label>
        {{ formulario.contrasena(size=20) }}
        <br>
        <label for="Teléfono">Teléfono:</label>
        {{ formulario.telefono(size=20) }}
        <br>
        <label for="Edad">Edad:</label>
        {{ formulario.edad(size=20) }}
        <br>
        {{ formulario.enviar }}
    </form>
</body>
</html>
